APP_NAME=ZozyTozy
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=zozytozy
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=log
MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587
MAIL_USERNAME=ecommerce@zozytozy.com.bd
MAIL_PASSWORD='January-Quake-Broom0'
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="ecommerce@zozytozy.com.bd"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_KEY=masterKey

RECAPTCHA_SITE_KEY=6LcqP1wqAAAAAKf_mxw14dqHKwT8e1xe7qWOtezF
RECAPTCHA_SECRET_KEY=6LcqP1wqAAAAAAIt_NEoEf1Wp8J4LFgJ7v_5OIX7

STRIPE_KEY=pk_test_51Q7KGTKXHWwzBdw4JfpD49oDhlNwqCtEEAnxtrfVRtLiR4xFC7vkJ9u20H3lC6MqKAAPXWQWH19SXfAP3SnpGx2A00BVvsFmKq
STRIPE_SECRET=sk_test_51Q7KGTKXHWwzBdw4KtElsuDy1j2rDrgCYOECanAEzO9iN03ZxQWgouwy6wbwzcXmnC1HvYeKUwzOBNKY7BHGmWYY00Asv5JAOb
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret
CASHIER_LOGGER=stack

USPS_USERNAME="3075PRECIB473"
USPS_PASSWORD="A7464N80XS6792G"
USPS_CONSUMER_KEY="DWSvYLhC5YTos3V6ojgtmoKiNtGBWFES"
USPS_CONSUMER_SECRET="ZAmrkAjiIzldGVJP"
USPS_TEST_MODE=true

APP_ZIP_CODE=60653
